body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* styles.css */

.navbar {
    background-image: url('/images/navbar.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}
